{# password_input_widget #}
{% block password_input_row %}
    {% set type = type|default('password') %}
    {# make room for the button so text doesn't sit underneath #}
    {% set attr = attr|merge({ 'class': (attr.class|default('') ~ ' pe-5')|trim }) %}

    <div
            data-controller="password-visibility"
            data-password-visibility-hidden-class="d-none"   {# map to Bootstrap #}
            class="position-relative"
    >
        <div class="form-floating">
            {{- block('form_widget_simple') -}}   {# renders <input ... placeholder=" "> #}
            {{- form_label(form) -}}
        </div>

        {% if toggle %}
            <button
                    type="button"
                    class="{{ button_class }} btn-lg position-absolute top-50 end-0 translate-middle-y me-2 px-2 py-0"
                    data-action="password-visibility#toggle"
                    aria-label="{{ button_aria_label }}"
            >
                <span data-password-visibility-target="icon" class="bi bi-eye"></span>
                <span data-password-visibility-target="icon" class="bi bi-eye-slash d-none"></span>
            </button>
        {% endif %}
    </div>
{% endblock %}
