parameters:
	level: 6
	paths:
		- ./src
		- ./config
		- ./tests
	excludePaths:
	    analyse:
	         - ./src/DataFixtures/*
	         - config/reference.php
	ignoreErrors:
	    - '#\$id is never written, only read#'
	reportUnmatchedIgnoredErrors: false
	treatPhpDocTypesAsCertain: false
