<!DOCTYPE html>
<html>
<head>
    {{ include('partial/_head.html.twig') }}

    {% block stylesheets %}
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    {% endblock %}

    {% block javascripts %}
        {% block importmap %}{{ importmap('app') }}{% endblock %}
    {% endblock %}
</head>
<body>
{{ include('partial/_toast.html.twig') }}
{{ include('partial/_simple-navbar.html.twig') }}

{% block body %}{% endblock %}

</body>
</html>
