{$SERVER_NAME}

log

route {
    root * /app/public

    mercure {
        transport_url {$MERCURE_TRANSPORT_URL:bolt:///data/mercure.db}
        publisher_jwt {env.MERCURE_PUBLISHER_JWT_KEY} {env.MERCURE_PUBLISHER_JWT_ALG}
        subscriber_jwt {env.MERCURE_SUBSCRIBER_JWT_KEY} {env.MERCURE_SUBSCRIBER_JWT_ALG}
        anonymous
        subscriptions
        {$MERCURE_EXTRA_DIRECTIVES}
    }

    encode zstd gzip

    # Serve static files first
    file_server

    # Then fallback to PHP for everything else
    php_fastcgi php:9000 {
        env HTTPS on
        header_up X-Real-IP {remote}
    }
}