<div {{ attributes }} class="badge rounded-pill bg-primary d-flex justify-content-between align-items-center gap-2" data-poll="interval(5s)|$render">
    <div>{{ this.count|compact_notation }}</div>
    <i class="bi bi-eye fs-4"></i>
</div>