<div {{ attributes }}>
    <twig:Badge
            text="{{ this.count|compact_notation }}"
            variant="primary"
            icon="bi bi-eye"
            :isOutline="true"
            size="lg" />
</div>

