{# Map your flash keys to Bootstrap alert classes #}
{# Loop all flash groups; this also clears them from the bag #}
{% for label, messages in app.flashes %}
    {% set bs = type_map[label]|default(label) %}
    {% for message in messages %}
        <div class="alert border-primary bg-primary-subtle alert-dismissible fade show my-3" role="alert">
            {{ message|trans }}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="{{ 'close'|trans }}"></button>
        </div>
    {% endfor %}
{% endfor %}

