<a class="btn btn-outline-dark w-100 mb-2" href="{{ path('oauth_start', {provider: 'google'}) }}">
    {{ 'continue-with'|trans({provider: 'Google'}) }}
</a>
<a class="btn btn-outline-dark w-100" href="{{ path('oauth_start', {provider: 'facebook'}) }}">
    {{ 'continue-with'|trans({provider: 'Facebook'}) }}
</a>