{% set role = app.request.get('_route') == "app_register" ? "client" : "trader" %}
<a class="btn btn-outline-dark w-100 mb-2" href="{{ path('oauth_start_with_role', {role: role, provider: 'google'}) }}">
    {{ 'continue-with'|trans({provider: 'Google'}) }}
</a>
<a class="btn btn-outline-dark w-100" href="{{ path('oauth_start_with_role', {role: role, provider: 'facebook'}) }}">
    {{ 'continue-with'|trans({provider: 'Facebook'}) }}
</a>